@page
@model IndexModel
@{
    ViewData["Title"] = "江湖人士";
}
<div class="text-center">

    <div class="sec-panel-body">
        <div class="gb-inside-container">
            <table style="width:100%">
                <tr>
                    <td><input type="button" value="下载并安装控件" onclick="location.href='?handler=Download'" /><br /><br /><a href="https://jhrs.com/2021/44611.html">游戏笔记本电脑推荐</a></td>
                    <td><input type="button" value="直接打印" onclick="printreport()" /><br /><br /><a href="https://jhrs.com/bandwagonhost-vps-cn2">搬瓦工VPS cn2</a></td>
                    <td><a href="https://gbtcs.com" title="怎样上Google" style="color:red">怎样上Google</a><br /><br /><a href="https://jhrs.com/2021/39496.html" title="WordPress主题推荐">WordPress主题推荐</a> </td>
                    <td><a href="https://jhrs.com/2021/39332.html" title="国外博客主机推荐">国外博客主机推荐</a><br /><br /><a href="https://jhrs.com/2020/38280.html" title="WordPress主题推荐">挂机赚钱</a> </td>
                    <td><b style="color:red;font-size:16px">Vultr：国外便宜VPS推荐</b><br/><a href="https://znlive.com/go/vultr" target="_blank" rel="noopener"><img loading="lazy" width="300" height="300" src="https://znlive.com/wp-content/uploads/2021/12/vultr.jpg" alt="" class="wp-image-4902" srcset="https://znlive.com/wp-content/uploads/2021/12/vultr.jpg 300w, https://znlive.com/wp-content/uploads/2021/12/vultr-150x150.jpg 150w" sizes="(max-width: 300px) 100vw, 300px"></a></td>
                    <td><b style="color:red;font-size:16px">英文C#编程书箱推荐</b><a href="https://znlive.com" target="_blank" rel="noopener"><img loading="lazy" width="302" height="302" src="https://znlive.com/wp-content/uploads/2021/12/csharp.jpg" alt="" class="wp-image-4843" srcset="https://znlive.com/wp-content/uploads/2021/12/csharp.jpg 302w, https://znlive.com/wp-content/uploads/2021/12/csharp-300x300.jpg 300w, https://znlive.com/wp-content/uploads/2021/12/csharp-150x150.jpg 150w" sizes="(max-width: 302px) 100vw, 302px"></a></td>
                </tr>
                <tr>
                    <td><a href="https://adsenseearnmoney.com/zh/best-google-adsense-tutorial/">Google Adsense赚美元教程</a></td>
                    <td><a href="https://jhrs.com/2019/31575.html">程序员怎样开始自己的副业来赚钱呢？</a></td>
                    <td><a href="https://jhrs.com/2019/32413.html">怎样开始在网上赚钱</a></td>
                    <td><a href="https://jhrs.com/2020/36248.html">网站通过Google Adsense赚钱</a></td>
                    <td><a href="https://jhrs.com/2018/26060.html">Wealthy affiliate中文教程</a></td>
                    <td><a href="https://jhrs.com/2018/25954.html">程序员业余时间赚美元</a></td>
                </tr>
                <tr>
                    <td colspan="6" style="text-align:left"><b style="color:red;font-size:16px">博客文章： <a href="#">FastReport浏览器直接打印无须预览（终版）</a> </b></td>
                </tr>
            </table>
        </div>
       <div class="sec-panel-body">
                <ul class="post-loop post-loop-default cols-0">
                    <li class="item">
                        <div class="item-img">
                            <a class="item-img-inner" href="https://jhrs.com/2021/39216.html" title="2021最新DreamHost域名注册教程" rel="bookmark">
                                <img width="480" height="300" src="https://img.hotbests.com/2021/01/dream-480x300.jpg.webp" class="attachment-default size-default wp-post-image j-lazy" alt="2021最新DreamHost域名注册教程" data-original="https://img.hotbests.com/2021/01/dream-480x300.jpg" title="2021最新DreamHost域名注册教程 1" style="display: inline;">
                            </a>
                            <a class="item-category" href="https://jhrs.com/wzjh/jianzhan" target="_blank">建站</a>
                        </div>
                        <div class="item-content">
                            <h2 class="item-title">
                                <a href="https://jhrs.com/2021/39216.html" rel="bookmark">
                                    2021最新DreamHost域名注册教程
                                </a>
                            </h2>
                            <div class="item-excerpt">
                                <p>2021最新DreamHost域名注册教程，之前介绍过DreamHost的主机，它家在国内访问速度还行，而且购买主机也能免费赠送1个域名。那么快进入到2021年了，再来看看在DreamHost官网上是怎么注册域名的。</p>
                            </div>
                            <div class="item-meta">
                                <div class="item-meta-li author">
                                    <a data-user="1" target="_blank" href="https://jhrs.com/profile/jess-huziyu" class="avatar j-user-card">
                                        <img alt="江小编" src="//img.hotbests.com/member/avatars/238a0b923820dcc5.1583593957.jpg" class="avatar avatar-60 photo" height="60" width="60"> <span>江小编</span>
                                    </a>
                                </div>
                                <span class="item-meta-li date">2021-01-01</span>
                                <div class="item-meta-right">
                                    <span class="item-meta-li stars" title="收藏数"><i class="wpcom-icon wi"><svg aria-hidden="true"><use xlink:href="#wi-star"></use></svg></i>0</span><span class="item-meta-li likes" title="点赞数"><i class="wpcom-icon wi"><svg aria-hidden="true"><use xlink:href="#wi-thumb-up"></use></svg></i>1</span><a class="item-meta-li comments" href="https://jhrs.com/2021/39216.html#comments" target="_blank" title="评论数"><i class="wpcom-icon wi"><svg aria-hidden="true"><use xlink:href="#wi-comment"></use></svg></i>0</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="item-img">
                            <a class="item-img-inner" href="https://jhrs.com/2020/39190.html" title="2021 国外域名注册商推荐" rel="bookmark">
                                <img width="480" height="300" src="https://img.hotbests.com/2020/12/domain-480x300.jpg.webp" class="attachment-default size-default wp-post-image j-lazy" alt="2021 国外域名注册商推荐" data-original="https://img.hotbests.com/2020/12/domain-480x300.jpg" title="2021 国外域名注册商推荐 2" style="display: inline;">
                            </a>
                            <a class="item-category" href="https://jhrs.com/wzjh" target="_blank">网赚江湖</a>
                        </div>
                        <div class="item-content">
                            <h2 class="item-title">
                                <a href="https://jhrs.com/2020/39190.html" rel="bookmark">
                                    2021 国外域名注册商推荐
                                </a>
                            </h2>
                            <div class="item-excerpt">
                                <p>2021 国外域名注册商推荐，当然我最钟爱的还是namesilo和Wealthy Affiliate，从费用上来说，namesilo最便宜，而且续费几乎和首次购买的价格一样，像com域名，新用户使用优惠码注册价格为$6.99到$7.99之间</p>
                            </div>
                            <div class="item-meta">
                                <div class="item-meta-li author">
                                    <a data-user="1" target="_blank" href="https://jhrs.com/profile/jess-huziyu" class="avatar j-user-card">
                                        <img alt="江小编" src="//img.hotbests.com/member/avatars/238a0b923820dcc5.1583593957.jpg" class="avatar avatar-60 photo" height="60" width="60"> <span>江小编</span>
                                    </a>
                                </div>
                                <span class="item-meta-li date">2020-12-30</span>
                                <div class="item-meta-right">
                                    <span class="item-meta-li stars" title="收藏数"><i class="wpcom-icon wi"><svg aria-hidden="true"><use xlink:href="#wi-star"></use></svg></i>0</span><span class="item-meta-li likes" title="点赞数"><i class="wpcom-icon wi"><svg aria-hidden="true"><use xlink:href="#wi-thumb-up"></use></svg></i>3</span><a class="item-meta-li comments" href="https://jhrs.com/2020/39190.html#comments" target="_blank" title="评论数"><i class="wpcom-icon wi"><svg aria-hidden="true"><use xlink:href="#wi-comment"></use></svg></i>0</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="item-img">
                            <a class="item-img-inner" href="https://jhrs.com/2020/38989.html" title="2021最新Google Adsense教程" rel="bookmark">
                                <img width="480" height="300" src="https://img.hotbests.com/2020/11/google-ads-480x300.jpg.webp" class="attachment-default size-default wp-post-image j-lazy" alt="2021最新Google Adsense教程" data-original="https://img.hotbests.com/2020/11/google-ads-480x300.jpg" title="2021最新Google Adsense教程 3" style="display: inline;">
                            </a>
                            <a class="item-category" href="https://jhrs.com/wzjh/adsense" target="_blank">adsense赚钱</a>
                        </div>
                        <div class="item-content">
                            <h2 class="item-title">
                                <a href="https://jhrs.com/2020/38989.html" rel="bookmark">
                                    2021最新Google Adsense教程
                                </a>
                            </h2>
                            <div class="item-excerpt">
                                <p>2021最新Google Adsense教程，我们建立自己的网站或利基网站，然后通过google adsense赚钱是世界上最简单的在线赚钱方法，因为您要做的就是建立一个网站，然后需要为您的读者提供优质的内容或他们感兴趣的内容。</p>
                            </div>
                            <div class="item-meta">
                                <div class="item-meta-li author">
                                    <a data-user="1" target="_blank" href="https://jhrs.com/profile/jess-huziyu" class="avatar j-user-card">
                                        <img alt="江小编" src="//img.hotbests.com/member/avatars/238a0b923820dcc5.1583593957.jpg" class="avatar avatar-60 photo" height="60" width="60"> <span>江小编</span>
                                    </a>
                                </div>
                                <span class="item-meta-li date">2020-11-29</span>
                                <div class="item-meta-right">
                                    <span class="item-meta-li stars" title="收藏数"><i class="wpcom-icon wi"><svg aria-hidden="true"><use xlink:href="#wi-star"></use></svg></i>0</span><span class="item-meta-li likes" title="点赞数"><i class="wpcom-icon wi"><svg aria-hidden="true"><use xlink:href="#wi-thumb-up"></use></svg></i>1</span><a class="item-meta-li comments" href="https://jhrs.com/2020/38989.html#comments" target="_blank" title="评论数"><i class="wpcom-icon wi"><svg aria-hidden="true"><use xlink:href="#wi-comment"></use></svg></i>0</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="item-img">
                            <a class="item-img-inner" href="https://jhrs.com/2020/38984.html" title="网页上Adsense广告数量最合适是多少？5个左右" rel="bookmark">
                                <img width="480" height="300" src="https://img.hotbests.com/2020/11/best-number-of-Adsense-Ads-1024x680-1-480x300.jpg.webp" class="attachment-default size-default wp-post-image j-lazy" alt="网页上Adsense广告数量最合适是多少？5个左右" data-original="https://img.hotbests.com/2020/11/best-number-of-Adsense-Ads-1024x680-1-480x300.jpg" title="网页上Adsense广告数量最合适是多少？5个左右 4" style="display: inline;">
                            </a>
                            <a class="item-category" href="https://jhrs.com/wzjh/adsense" target="_blank">adsense赚钱</a>
                        </div>
                        <div class="item-content">
                            <h2 class="item-title">
                                <a href="https://jhrs.com/2020/38984.html" rel="bookmark">
                                    网页上Adsense广告数量最合适是多少？5个左右
                                </a>
                            </h2>
                            <div class="item-excerpt">
                                <p>每个网页上Adsense广告数量最合适是多少？如果自己建立网站来做国外网赚也是非常不错的一个选择，因为Google Adsense当前是在线赚钱的方式之一。目前，在页面上放置适当数量的广告尤为重要</p>
                            </div>
                            <div class="item-meta">
                                <div class="item-meta-li author">
                                    <a data-user="1" target="_blank" href="https://jhrs.com/profile/jess-huziyu" class="avatar j-user-card">
                                        <img alt="江小编" src="//img.hotbests.com/member/avatars/238a0b923820dcc5.1583593957.jpg" class="avatar avatar-60 photo" height="60" width="60"> <span>江小编</span>
                                    </a>
                                </div>
                                <span class="item-meta-li date">2020-11-29</span>
                                <div class="item-meta-right">
                                    <span class="item-meta-li stars" title="收藏数"><i class="wpcom-icon wi"><svg aria-hidden="true"><use xlink:href="#wi-star"></use></svg></i>0</span><span class="item-meta-li likes" title="点赞数"><i class="wpcom-icon wi"><svg aria-hidden="true"><use xlink:href="#wi-thumb-up"></use></svg></i>0</span><a class="item-meta-li comments" href="https://jhrs.com/2020/38984.html#comments" target="_blank" title="评论数"><i class="wpcom-icon wi"><svg aria-hidden="true"><use xlink:href="#wi-comment"></use></svg></i>2</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="item-img">
                            <a class="item-img-inner" href="https://jhrs.com/2020/38280.html" title="这3个国外网赚项目不错哟，懒人挂机赚钱好方法" rel="bookmark">
                                <img width="480" height="300" src="https://img.hotbests.com/2020/09/coins-480x300.jpg.webp" class="attachment-default size-default wp-post-image j-lazy" alt="这3个国外网赚项目不错哟，懒人挂机赚钱好方法" data-original="https://img.hotbests.com/2020/09/coins-480x300.jpg" title="这3个国外网赚项目不错哟，懒人挂机赚钱好方法 5" style="display: inline;">
                            </a>
                            <a class="item-category" href="https://jhrs.com/wzjh" target="_blank">网赚江湖</a>
                        </div>
                        <div class="item-content">
                            <h2 class="item-title">
                                <a href="https://jhrs.com/2020/38280.html" rel="bookmark">
                                    这3个国外网赚项目不错哟，懒人挂机赚钱好方法
                                </a>
                            </h2>
                            <div class="item-excerpt">
                                <p>最近在寻找一些可以国外挂机赚美元的项目，虽然在YouTube上看到有很多，但发现这3个国外网赚项目，懒人挂机赚钱好方法是不错的，只需要你注册好软件开启就可以不管了，非常适合懒人赚取被动收入；如果要放大收入的话，一是可以购买云加速，二是分享给更多的好友（算是拉人头吧）。</p>
                            </div>
                            <div class="item-meta">
                                <div class="item-meta-li author">
                                    <a data-user="1163" target="_blank" href="https://jhrs.com/profile/zhangxiao" class="avatar j-user-card">
                                        <img alt="Game Over" src="//www.jhrs.com/wp-content/uploads/member/avatars/da6d3953058db757.1526703006.jpg" class="avatar avatar-60 photo" height="60" width="60"> <span>Game Over</span>
                                    </a>
                                </div>
                                <span class="item-meta-li date">2020-09-03</span>
                                <div class="item-meta-right">
                                    <span class="item-meta-li stars" title="收藏数"><i class="wpcom-icon wi"><svg aria-hidden="true"><use xlink:href="#wi-star"></use></svg></i>0</span><span class="item-meta-li likes" title="点赞数"><i class="wpcom-icon wi"><svg aria-hidden="true"><use xlink:href="#wi-thumb-up"></use></svg></i>11</span><a class="item-meta-li comments" href="https://jhrs.com/2020/38280.html#comments" target="_blank" title="评论数"><i class="wpcom-icon wi"><svg aria-hidden="true"><use xlink:href="#wi-comment"></use></svg></i>0</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="item-img">
                            <a class="item-img-inner" href="https://jhrs.com/2020/37849.html" title="Ezoic翻倍adsense收入，1个月见效" rel="bookmark">
                                <img width="480" height="300" src="https://img.hotbests.com/2020/08/increase-revenue-480x300.jpg.webp" class="attachment-default size-default wp-post-image j-lazy" alt="Ezoic翻倍adsense收入，1个月见效" data-original="https://img.hotbests.com/2020/08/increase-revenue-480x300.jpg" title="Ezoic翻倍adsense收入，1个月见效 6" style="display: inline;">
                            </a>
                            <a class="item-category" href="https://jhrs.com/wzjh/adsense" target="_blank">adsense赚钱</a>
                        </div>
                        <div class="item-content">
                            <h2 class="item-title">
                                <a href="https://jhrs.com/2020/37849.html" rel="bookmark">
                                    Ezoic翻倍adsense收入，1个月见效
                                </a>
                            </h2>
                            <div class="item-excerpt">
                                <p>如果您建立了网站，并申请了adsense赚美元，那么我绝对会推荐Ezoic，当然中文站也适用；如何使用Ezoic翻倍adsense收入，1个月见效，对于做站赚钱的朋友来说设置非常容易，使用Ezoic之后我们的EPMV（每千位访客）在1个月后增长了36％！</p>
                            </div>
                            <div class="item-meta">
                                <div class="item-meta-li author">
                                    <a data-user="1" target="_blank" href="https://jhrs.com/profile/jess-huziyu" class="avatar j-user-card">
                                        <img alt="江小编" src="//img.hotbests.com/member/avatars/238a0b923820dcc5.1583593957.jpg" class="avatar avatar-60 photo" height="60" width="60"> <span>江小编</span>
                                    </a>
                                </div>
                                <span class="item-meta-li date">2020-08-16</span>
                                <div class="item-meta-right">
                                    <span class="item-meta-li stars" title="收藏数"><i class="wpcom-icon wi"><svg aria-hidden="true"><use xlink:href="#wi-star"></use></svg></i>0</span><span class="item-meta-li likes" title="点赞数"><i class="wpcom-icon wi"><svg aria-hidden="true"><use xlink:href="#wi-thumb-up"></use></svg></i>2</span><a class="item-meta-li comments" href="https://jhrs.com/2020/37849.html#comments" target="_blank" title="评论数"><i class="wpcom-icon wi"><svg aria-hidden="true"><use xlink:href="#wi-comment"></use></svg></i>0</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="item-img">
                            <a class="item-img-inner" href="https://jhrs.com/2020/37706.html" title="2021最新YouTube赚钱指南" rel="bookmark">
                                <img width="480" height="300" src="https://img.hotbests.com/2020/08/youtube-480x300.jpg.webp" class="attachment-default size-default wp-post-image j-lazy" alt="2021最新YouTube赚钱指南" data-original="https://img.hotbests.com/2020/08/youtube-480x300.jpg" title="2021最新YouTube赚钱指南 7" style="display: inline;">
                            </a>
                            <a class="item-category" href="https://jhrs.com/wzjh" target="_blank">网赚江湖</a>
                        </div>
                        <div class="item-content">
                            <h2 class="item-title">
                                <a href="https://jhrs.com/2020/37706.html" rel="bookmark">
                                    2021最新YouTube赚钱指南
                                </a>
                            </h2>
                            <div class="item-excerpt">
                                <p>在线业务你可以发现有很多可以赚钱的机会，这就是2021最新YouTube赚钱指南，介绍国外网赚教程，国外网赚项目非常的多，而YouTube就是其中之一。技术的发展使事情变得比以往任何时候都容易，如果您能按照正确的步骤做，我敢打赌，你做国外网赚将不再是一件非常困难的事情</p>
                            </div>
                            <div class="item-meta">
                                <div class="item-meta-li author">
                                    <a data-user="1" target="_blank" href="https://jhrs.com/profile/jess-huziyu" class="avatar j-user-card">
                                        <img alt="江小编" src="//img.hotbests.com/member/avatars/238a0b923820dcc5.1583593957.jpg" class="avatar avatar-60 photo" height="60" width="60"> <span>江小编</span>
                                    </a>
                                </div>
                                <span class="item-meta-li date">2020-08-02</span>
                                <div class="item-meta-right">
                                    <span class="item-meta-li stars" title="收藏数"><i class="wpcom-icon wi"><svg aria-hidden="true"><use xlink:href="#wi-star"></use></svg></i>0</span><span class="item-meta-li likes" title="点赞数"><i class="wpcom-icon wi"><svg aria-hidden="true"><use xlink:href="#wi-thumb-up"></use></svg></i>0</span><a class="item-meta-li comments" href="https://jhrs.com/2020/37706.html#comments" target="_blank" title="评论数"><i class="wpcom-icon wi"><svg aria-hidden="true"><use xlink:href="#wi-comment"></use></svg></i>0</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="item-img">
                            <a class="item-img-inner" href="https://jhrs.com/2020/37620.html" title="ACH转账和电汇转账手续费比较，2张表看出区别" rel="bookmark">
                                <img width="480" height="300" src="https://img.hotbests.com/2020/07/money-bank-480x300.jpg.webp" class="attachment-default size-default wp-post-image j-lazy" alt="ACH转账和电汇转账手续费比较，2张表看出区别" data-original="https://img.hotbests.com/2020/07/money-bank-480x300.jpg" title="ACH转账和电汇转账手续费比较，2张表看出区别 8" style="display: inline;">
                            </a>
                            <a class="item-category" href="https://jhrs.com/wzjh" target="_blank">网赚江湖</a>
                        </div>
                        <div class="item-content">
                            <h2 class="item-title">
                                <a href="https://jhrs.com/2020/37620.html" rel="bookmark">
                                    ACH转账和电汇转账手续费比较，2张表看出区别
                                </a>
                            </h2>
                            <div class="item-excerpt">
                                <p>初次生活在美国的华人来说，难免会遇到资金往来的需求，国内的话大家都知道怎样转账，如支付宝，微信，或者银行都可转，而美国进行资金转账的方式有ACH 转账，电汇转账，传统的支票转账，以及第三方应用可以转账等</p>
                            </div>
                            <div class="item-meta">
                                <div class="item-meta-li author">
                                    <a data-user="1" target="_blank" href="https://jhrs.com/profile/jess-huziyu" class="avatar j-user-card">
                                        <img alt="江小编" src="//img.hotbests.com/member/avatars/238a0b923820dcc5.1583593957.jpg" class="avatar avatar-60 photo" height="60" width="60"> <span>江小编</span>
                                    </a>
                                </div>
                                <span class="item-meta-li date">2020-07-26</span>
                                <div class="item-meta-right">
                                    <span class="item-meta-li stars" title="收藏数"><i class="wpcom-icon wi"><svg aria-hidden="true"><use xlink:href="#wi-star"></use></svg></i>0</span><span class="item-meta-li likes" title="点赞数"><i class="wpcom-icon wi"><svg aria-hidden="true"><use xlink:href="#wi-thumb-up"></use></svg></i>0</span><a class="item-meta-li comments" href="https://jhrs.com/2020/37620.html#comments" target="_blank" title="评论数"><i class="wpcom-icon wi"><svg aria-hidden="true"><use xlink:href="#wi-comment"></use></svg></i>0</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="item-img">
                            <a class="item-img-inner" href="https://jhrs.com/2020/37580.html" title="2021国外最流行WordPress主题" rel="bookmark">
                                <img width="480" height="300" src="https://img.hotbests.com/2020/07/2020-wordpress-thems-480x300.jpg.webp" class="attachment-default size-default wp-post-image j-lazy" alt="2021国外最流行WordPress主题" data-original="https://img.hotbests.com/2020/07/2020-wordpress-thems-480x300.jpg" title="2021国外最流行WordPress主题 9" style="display: inline;">
                            </a>
                            <a class="item-category" href="https://jhrs.com/itjh/wordpress-site/wordpress-themes" target="_blank">WordPress主题</a>
                        </div>
                        <div class="item-content">
                            <h2 class="item-title">
                                <a href="https://jhrs.com/2020/37580.html" rel="bookmark">
                                    2021国外最流行WordPress主题
                                </a>
                            </h2>
                            <div class="item-excerpt">
                                <p>2021国外最流行WordPress主题，2020年的7月14日，我们宣布WordPress主题“ Astra ”已超过100万次主动安装，这意味着当前有超过100万个网站已将Astra WordPress主题安装为活动主题</p>
                            </div>
                            <div class="item-meta">
                                <div class="item-meta-li author">
                                    <a data-user="1" target="_blank" href="https://jhrs.com/profile/jess-huziyu" class="avatar j-user-card">
                                        <img alt="江小编" src="//img.hotbests.com/member/avatars/238a0b923820dcc5.1583593957.jpg" class="avatar avatar-60 photo" height="60" width="60"> <span>江小编</span>
                                    </a>
                                </div>
                                <span class="item-meta-li date">2020-07-18</span>
                                <div class="item-meta-right">
                                    <span class="item-meta-li stars" title="收藏数"><i class="wpcom-icon wi"><svg aria-hidden="true"><use xlink:href="#wi-star"></use></svg></i>0</span><span class="item-meta-li likes" title="点赞数"><i class="wpcom-icon wi"><svg aria-hidden="true"><use xlink:href="#wi-thumb-up"></use></svg></i>0</span><a class="item-meta-li comments" href="https://jhrs.com/2020/37580.html#comments" target="_blank" title="评论数"><i class="wpcom-icon wi"><svg aria-hidden="true"><use xlink:href="#wi-comment"></use></svg></i>0</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="item-img">
                            <a class="item-img-inner" href="https://jhrs.com/2020/37469.html" title="通过AdSense赚钱的101种方法" rel="bookmark">
                                <img width="480" height="300" src="https://img.hotbests.com/2020/07/adsense-earn-money-480x300.jpg.webp" class="attachment-default size-default wp-post-image j-lazy" alt="通过AdSense赚钱的101种方法" data-original="https://img.hotbests.com/2020/07/adsense-earn-money-480x300.jpg" title="通过AdSense赚钱的101种方法 10" style="display: inline;">
                            </a>
                            <a class="item-category" href="https://jhrs.com/wzjh" target="_blank">网赚江湖</a>
                        </div>
                        <div class="item-content">
                            <h2 class="item-title">
                                <a href="https://jhrs.com/2020/37469.html" rel="bookmark">
                                    通过AdSense赚钱的101种方法
                                </a>
                            </h2>
                            <div class="item-excerpt">
                                <p>我如何在一年内通过Google Adsense赚了10万美元，通过AdSense赚钱的101种方法，Jerry Banfield是一位老师，他一年在Google Adsense上的收入超过10万美元。</p>
                            </div>
                            <div class="item-meta">
                                <div class="item-meta-li author">
                                    <a data-user="1168" target="_blank" href="https://jhrs.com/profile/zibao" class="avatar j-user-card">
                                        <img alt="道人间" src="//img.hotbests.com/2018/07/timg.jpg" class="avatar avatar-60 photo" height="60" width="60"> <span>道人间</span>
                                    </a>
                                </div>
                                <span class="item-meta-li date">2020-07-07</span>
                                <div class="item-meta-right">
                                    <span class="item-meta-li stars" title="收藏数"><i class="wpcom-icon wi"><svg aria-hidden="true"><use xlink:href="#wi-star"></use></svg></i>0</span><span class="item-meta-li likes" title="点赞数"><i class="wpcom-icon wi"><svg aria-hidden="true"><use xlink:href="#wi-thumb-up"></use></svg></i>0</span><a class="item-meta-li comments" href="https://jhrs.com/2020/37469.html#comments" target="_blank" title="评论数"><i class="wpcom-icon wi"><svg aria-hidden="true"><use xlink:href="#wi-comment"></use></svg></i>0</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="item-img">
                            <a class="item-img-inner" href="https://jhrs.com/2020/37448.html" title="沒有广告时如何从 Youtube 赚钱，11种方法" rel="bookmark">
                                <img width="480" height="300" src="https://img.hotbests.com/2020/07/11-best-ways-to-earn-money-from-youtube-without-adsense-480x300.png.webp" class="attachment-default size-default wp-post-image j-lazy" alt="沒有广告时如何从 Youtube 赚钱，11种方法" data-original="https://img.hotbests.com/2020/07/11-best-ways-to-earn-money-from-youtube-without-adsense-480x300.png" title="沒有广告时如何从 Youtube 赚钱，11种方法 11" style="display: inline;">
                            </a>
                            <a class="item-category" href="https://jhrs.com/wwjh" target="_blank">网文江湖</a>
                        </div>
                        <div class="item-content">
                            <h2 class="item-title">
                                <a href="https://jhrs.com/2020/37448.html" rel="bookmark">
                                    沒有广告时如何从 Youtube 赚钱，11种方法
                                </a>
                            </h2>
                            <div class="item-excerpt">
                                <p>沒有广告时如何从 Youtube 赚钱，11种方法，你有一个相当新的频道， 想知道你怎么能从 Youtube 没有 Adsense赚钱？我们会给你最好的选择。 将YouTube视频货币化是每个YouTube用户都感兴趣的话题。我看到与人们如何经常在 Youtube 上赚钱有关的问题。毕竟，如果你喜欢制作视频，为什么不从中赚一大收入来维持自己，同时做你喜欢的事…</p>
                            </div>
                            <div class="item-meta">
                                <div class="item-meta-li author">
                                    <a data-user="1" target="_blank" href="https://jhrs.com/profile/jess-huziyu" class="avatar j-user-card">
                                        <img alt="江小编" src="//img.hotbests.com/member/avatars/238a0b923820dcc5.1583593957.jpg" class="avatar avatar-60 photo" height="60" width="60"> <span>江小编</span>
                                    </a>
                                </div>
                                <span class="item-meta-li date">2020-07-06</span>
                                <div class="item-meta-right">
                                    <span class="item-meta-li stars" title="收藏数"><i class="wpcom-icon wi"><svg aria-hidden="true"><use xlink:href="#wi-star"></use></svg></i>0</span><span class="item-meta-li likes" title="点赞数"><i class="wpcom-icon wi"><svg aria-hidden="true"><use xlink:href="#wi-thumb-up"></use></svg></i>0</span><a class="item-meta-li comments" href="https://jhrs.com/2020/37448.html#comments" target="_blank" title="评论数"><i class="wpcom-icon wi"><svg aria-hidden="true"><use xlink:href="#wi-comment"></use></svg></i>0</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="item-img">
                            <a class="item-img-inner" href="https://jhrs.com/2020/36248.html" title="网站通过Google Adsense赚钱2021最新指南" rel="bookmark">
                                <img width="480" height="300" src="https://img.hotbests.com/2020/05/adsense-1-480x300.jpg.webp" class="attachment-default size-default wp-post-image j-lazy" alt="网站通过Google Adsense赚钱2021最新指南" data-original="https://img.hotbests.com/2020/05/adsense-1-480x300.jpg" title="网站通过Google Adsense赚钱2021最新指南 12" style="display: inline;">
                            </a>
                            <a class="item-category" href="https://jhrs.com/wzjh/adsense" target="_blank">adsense赚钱</a>
                        </div>
                        <div class="item-content">
                            <h2 class="item-title">
                                <a href="https://jhrs.com/2020/36248.html" rel="bookmark">
                                    网站通过Google Adsense赚钱2021最新指南
                                </a>
                            </h2>
                            <div class="item-excerpt">
                                <p>2021年是艰难的一年，可能很多人都需要赚更多的钱，当然，站长也不例外，这是一份网站通过Google Adsense赚钱2021最新指南，这篇文本是关于网站赚钱教程概括性介绍，对于国外网赚比较感兴趣的朋友可以在Youtube上观看Website Make Money Tutorial，本文会从14个方面介绍网站是怎样通过google adsense赚钱的。</p>
                            </div>
                            <div class="item-meta">
                                <div class="item-meta-li author">
                                    <a data-user="1" target="_blank" href="https://jhrs.com/profile/jess-huziyu" class="avatar j-user-card">
                                        <img alt="江小编" src="//img.hotbests.com/member/avatars/238a0b923820dcc5.1583593957.jpg" class="avatar avatar-60 photo" height="60" width="60"> <span>江小编</span>
                                    </a>
                                </div>
                                <span class="item-meta-li date">2020-05-23</span>
                                <div class="item-meta-right">
                                    <span class="item-meta-li stars" title="收藏数"><i class="wpcom-icon wi"><svg aria-hidden="true"><use xlink:href="#wi-star"></use></svg></i>0</span><span class="item-meta-li likes" title="点赞数"><i class="wpcom-icon wi"><svg aria-hidden="true"><use xlink:href="#wi-thumb-up"></use></svg></i>0</span><a class="item-meta-li comments" href="https://jhrs.com/2020/36248.html#comments" target="_blank" title="评论数"><i class="wpcom-icon wi"><svg aria-hidden="true"><use xlink:href="#wi-comment"></use></svg></i>0</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="item-img">
                            <a class="item-img-inner" href="https://jhrs.com/2020/35690.html" title="2021最新google adsense电汇收款指南" rel="bookmark">
                                <img width="480" height="300" src="https://img.hotbests.com/2020/04/adsense-480x300.jpg.webp" class="attachment-default size-default wp-post-image j-lazy" alt="2021最新google adsense电汇收款指南" data-original="https://img.hotbests.com/2020/04/adsense-480x300.jpg" title="2021最新google adsense电汇收款指南 13" style="display: inline;">
                            </a>
                            <a class="item-category" href="https://jhrs.com/wzjh/adsense" target="_blank">adsense赚钱</a>
                        </div>
                        <div class="item-content">
                            <h2 class="item-title">
                                <a href="https://jhrs.com/2020/35690.html" rel="bookmark">
                                    2021最新google adsense电汇收款指南
                                </a>
                            </h2>
                            <div class="item-excerpt">
                                <p>2021最新google adsense电汇收款指南是基于4月初我使用招商银行一卡通亲测成功的收款方法介绍，可以在app上成功的将收到的美元结汇成人民币。</p>
                            </div>
                            <div class="item-meta">
                                <div class="item-meta-li author">
                                    <a data-user="1" target="_blank" href="https://jhrs.com/profile/jess-huziyu" class="avatar j-user-card">
                                        <img alt="江小编" src="//img.hotbests.com/member/avatars/238a0b923820dcc5.1583593957.jpg" class="avatar avatar-60 photo" height="60" width="60"> <span>江小编</span>
                                    </a>
                                </div>
                                <span class="item-meta-li date">2020-04-08</span>
                                <div class="item-meta-right">
                                    <span class="item-meta-li stars" title="收藏数"><i class="wpcom-icon wi"><svg aria-hidden="true"><use xlink:href="#wi-star"></use></svg></i>0</span><span class="item-meta-li likes" title="点赞数"><i class="wpcom-icon wi"><svg aria-hidden="true"><use xlink:href="#wi-thumb-up"></use></svg></i>7</span><a class="item-meta-li comments" href="https://jhrs.com/2020/35690.html#comments" target="_blank" title="评论数"><i class="wpcom-icon wi"><svg aria-hidden="true"><use xlink:href="#wi-comment"></use></svg></i>0</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="item-img">
                            <a class="item-img-inner" href="https://jhrs.com/2020/35589.html" title="国外19个最高佣金Affiliate Programs会员计划" rel="bookmark">
                                <img width="480" height="300" src="https://img.hotbests.com/2020/04/3dcart_affiliate_program-1024x331-1-480x300.png.webp" class="attachment-default size-default wp-post-image j-lazy" alt="国外19个最高佣金Affiliate Programs会员计划" data-original="https://img.hotbests.com/2020/04/3dcart_affiliate_program-1024x331-1-480x300.png" title="国外19个最高佣金Affiliate Programs会员计划 14" style="display: inline;">
                            </a>
                            <a class="item-category" href="https://jhrs.com/wzjh" target="_blank">网赚江湖</a>
                        </div>
                        <div class="item-content">
                            <h2 class="item-title">
                                <a href="https://jhrs.com/2020/35589.html" rel="bookmark">
                                    国外19个最高佣金Affiliate Programs会员计划
                                </a>
                            </h2>
                            <div class="item-excerpt">
                                <p>2020年你在找国外广告联盟吗？国外19个最高佣金Affiliate Programs会员计划我想是你最佳的选择，启动您的网站，加入一些会员计划，提及一些产品，提供您的会员链接，坐下来放松一下，同时观察会员收入的增加。 那是梦想，对吗？ 睡觉时赚些被动收入。 但这并不容易。 事情是这样：每个人都可以创建一个博客并进行一两次销售。但是很少有人能够通过联盟营销连…</p>
                            </div>
                            <div class="item-meta">
                                <div class="item-meta-li author">
                                    <a data-user="1" target="_blank" href="https://jhrs.com/profile/jess-huziyu" class="avatar j-user-card">
                                        <img alt="江小编" src="//img.hotbests.com/member/avatars/238a0b923820dcc5.1583593957.jpg" class="avatar avatar-60 photo" height="60" width="60"> <span>江小编</span>
                                    </a>
                                </div>
                                <span class="item-meta-li date">2020-04-04</span>
                                <div class="item-meta-right">
                                    <span class="item-meta-li stars" title="收藏数"><i class="wpcom-icon wi"><svg aria-hidden="true"><use xlink:href="#wi-star"></use></svg></i>0</span><span class="item-meta-li likes" title="点赞数"><i class="wpcom-icon wi"><svg aria-hidden="true"><use xlink:href="#wi-thumb-up"></use></svg></i>0</span><a class="item-meta-li comments" href="https://jhrs.com/2020/35589.html#comments" target="_blank" title="评论数"><i class="wpcom-icon wi"><svg aria-hidden="true"><use xlink:href="#wi-comment"></use></svg></i>0</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="item-img">
                            <a class="item-img-inner" href="https://jhrs.com/2020/34310.html" title="6 Mistakes To Avoid On Pinterest, As A Blogger" rel="bookmark">
                                <img width="480" height="300" src="https://img.hotbests.com/2020/02/5d3eb44418cc582689449e59948a27d71580892340_1580904371_cropped-480x300.jpg.webp" class="attachment-default size-default wp-post-image j-lazy" alt="6 Mistakes To Avoid On Pinterest, As A Blogger" data-original="https://img.hotbests.com/2020/02/5d3eb44418cc582689449e59948a27d71580892340_1580904371_cropped-480x300.jpg" title="6 Mistakes To Avoid On Pinterest, As A Blogger 15" style="display: inline;">
                            </a>
                            <a class="item-category" href="https://jhrs.com/wzjh" target="_blank">网赚江湖</a>
                        </div>
                        <div class="item-content">
                            <h2 class="item-title">
                                <a href="https://jhrs.com/2020/34310.html" rel="bookmark">
                                    6 Mistakes To Avoid On Pinterest, As A Blogger
                                </a>
                            </h2>
                            <div class="item-excerpt">
                                <p>6 Mistakes To Avoid On Pinterest, As A Blogger, Hi fam, after creating my latest tutorial on how to create video pins for Pinterest, I realized that there are many mistakes people make on Pinterest and I came across some of those mistakes while I was researching for the training. </p>
                            </div>
                            <div class="item-meta">
                                <div class="item-meta-li author">
                                    <a data-user="1" target="_blank" href="https://jhrs.com/profile/jess-huziyu" class="avatar j-user-card">
                                        <img alt="江小编" src="//img.hotbests.com/member/avatars/238a0b923820dcc5.1583593957.jpg" class="avatar avatar-60 photo" height="60" width="60"> <span>江小编</span>
                                    </a>
                                </div>
                                <span class="item-meta-li date">2020-02-08</span>
                                <div class="item-meta-right">
                                    <span class="item-meta-li stars" title="收藏数"><i class="wpcom-icon wi"><svg aria-hidden="true"><use xlink:href="#wi-star"></use></svg></i>0</span><span class="item-meta-li likes" title="点赞数"><i class="wpcom-icon wi"><svg aria-hidden="true"><use xlink:href="#wi-thumb-up"></use></svg></i>0</span><a class="item-meta-li comments" href="https://jhrs.com/2020/34310.html#comments" target="_blank" title="评论数"><i class="wpcom-icon wi"><svg aria-hidden="true"><use xlink:href="#wi-comment"></use></svg></i>0</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
    </div>
</div>
<script type="text/javascript">
    function printreport(){
        //服务器端提供获取打印数据接口，需要返回所使用的报表（即打印模板），客户端程序请求该接口获取数据
        //对于需要登录获取打印数据的接口，需要处理token或cookie的问题。亦或者自己根据源码修改客户端打印程序实现登录。
        //使用自定义协议格式指向打印接口即可。
        
        location.href = 'jhrsprint:@Request.Scheme://@Request.Host?handler=PrintData&myblog=znlive.com&par1=https://jhrs.com';
    }
</script>